#ifndef _CROSSPL_PROXY_%ClassName%_HPP_
#define _CROSSPL_PROXY_%ClassName%_HPP_

#ifdef ENABLE_NATIVE_FUNCTION

#ifdef __cplusplus
extern "C" {
#endif

%NativeFunction%

#ifdef __cplusplus
} // extern "C"
#endif

#endif // ENABLE_NATIVE_FUNCTION

#ifdef ENABLE_PLATFORM_FUNCTION

%PlatformFunction%

#endif // ENABLE_PLATFORM_FUNCTION

#endif /* _CROSSPL_PROXY_%ClassName%_HPP_ */
